---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const games = ["free-fire", "mobile-legends", "honor-kings"];
  const ids = Array.from({ length: 10 }, (_, i) => (i + 1).toString());

  return games.flatMap((game) =>
    ids.map((id) => ({
      params: { slug: `${game}/${id}` },
      props: { game, id },
    }))
  );
}

const { game, id } = Astro.props;
---

<MainLayout title={game} subTitle={`ID: ${id}`} slug={game}>
  <h1 class="text-4xl font-bold text-[var(--primary-color)]">
    Juego: {game}
  </h1>
  <p class="mt-4 text-lg text-[var(--text-color-lighten)]">
    Esta es la página dedicada al juego <strong>{game}</strong> con ID <strong>{id}</strong>.
  </p>
</MainLayout>
