---
import SdepMoneConfig from "app.config";
import MainLayout from "../../layouts/MainLayout.astro";
import FormsGamesWhatsApp from "@/components/forms/FormsGames";

export async function getStaticPaths() {
  const games = Object.keys(SdepMoneConfig.gameBanner);

  return games.map((game) => ({
    params: { game },
    props: { game },
  }));
}

const { game } = Astro.props;
const id = "pase-elite"
const bannerImage = SdepMoneConfig.gameBanner[game];

---

<MainLayout title={game} subTitle={game} bannerImage={bannerImage}>
  <div class="archives">
    <div class="article-wrapper">
      <div class="article">
        <h1 class="text-4xl font-bold text-[var(--primary-color)]">
          Juego: {game}
        </h1>
        <p class="mt-4 text-lg text-[var(--text-color-lighten)]">
          Esta es la página dedicada al juego <strong>{game}</strong>.
        </p>
      </div>
    </div>
    <FormsGamesWhatsApp 
    gameName={game ?? ""} 
    coinAmount={id ?? ""} 
    client:load 
  />
  </div>
</MainLayout>
