---
import { Icon } from "astro-icon/components";
import SdepMoneConfig from "../../app.config";
import I18nKeys from "../locales/keys";
import { i18n } from "../locales/translation";
import { GetCategories, GetTags } from "../utils/content";
import SocialIcon from "./widgets/SocialIcon.astro";

const tags = await GetTags();
const categories = await GetCategories();

const categoryKeys = [...categories.keys()];
const tagKeys = [...tags.keys()];
---

<div class="flex w-full flex-row justify-center">
  <div class="flex flex-col space-y-3">
    <div
      class="onload-animation rounded-3xl bg-[var(--card-color)] p-3"
      style=`animation-delay: var(--onload-animation-delay);`
    >
      <a href="/" class="avatar-wrapper  ">
        <img
          src={SdepMoneConfig.avatarUrl}
          alt="avatar"
          class="avatar lozad select-none rounded-3xl transition-all hover:brightness-75"
        />
      </a>
      <div class="username mt-4 flex flex-col items-center space-y-2 text-center">
        <p>{SdepMoneConfig.username}</p>
      </div>
      <p class="slogan mt-2 text-center text-[var(--text-color-lighten)]">
        {SdepMoneConfig.sign}
      </p>
      {
        SdepMoneConfig.socialLinks.length > 0 && (
          <div class="mt-1 flex flex-row justify-center">
            <div class="flex w-[184px] flex-wrap justify-center gap-2">
              {SdepMoneConfig.socialLinks.map((item) => (
                <SocialIcon name={item.icon} link={item.link} />
              ))}
            </div>
          </div>
        )
      }
    </div>
      <!-- faq -->
      <div
        class="onload-animation space-y-2 rounded-3xl  p-3"
        style="animation-delay: calc(var(--onload-animation-delay) + 2 * var(--onload-animation-interval));"
      >
        <div class="title m-[0.375rem]">
          <a
            href="/faq/faq"
            class="pl-4 text-xl font-bold text-[var(--text-color)] transition-colors hover:text-[var(--primary-color)]"
          >
            Preguntas Frecuentes
          </a>
        </div>
        <div class="relative flex max-w-[224px] flex-row flex-wrap  ">
          <a
            href="/faq/faq"
            class="tag m-1 grow rounded-md bg-[var(--primary-color-lighten)] px-2 py-1 transition-all hover:brightness-95 bg-orange-500 hover:bg-orange-600 dark:bg-orange-500 dark:hover:bg-orange-600"
          >
            <p class="text-center text-sm text-white hover:text-white ">
              Ver FAQs
            </p>
          </a>
        </div>
      </div>


    <!-- categories -->
    {
      categories.size !== 0 && (
        <div
          class="onload-animation space-y-2 rounded-3xl bg-[var(--card-color)] p-3"
          style="animation-delay: calc(var(--onload-animation-delay) + 1 * var(--onload-animation-interval));"
        >
          <div class="title m-[0.375rem]">
            <a
              href="/categories/"
              class="pl-4 text-xl font-bold text-[var(--text-color)] transition-colors hover:text-[var(--primary-color)]"
            >
              {i18n(I18nKeys.side_bar_categories)}
            </a>
          </div>
          <div class="relative flex flex-col">
            {categoryKeys
              .slice(0, SdepMoneConfig.maxSidebarCategoryChip + 1)
              .map((category) => (
                <a
                  href={`/categories/${category}`}
                  class="category flex flex-row items-center justify-between rounded-lg px-3 py-2 transition-all hover:bg-[var(--primary-color-lighten)]"
                >
                  <p class="text-[var(--text-color)] transition-all">
                    {categories.get(category)!.name}
                  </p>
                  <span class="rounded-md bg-[var(--primary-color-lighten)] px-2.5 py-0.5 text-[var(--primary-color)]">
                    {categories.get(category)!.posts.length}
                  </span>
                </a>
              ))}
            {categoryKeys.length >= SdepMoneConfig.maxSidebarCategoryChip + 1 && (
              <div class="absolute bottom-0 flex h-11 w-full flex-row items-center justify-center bg-gradient-to-t from-[var(--card-color)] from-25% to-transparent backdrop-blur-sm">
                <a
                  href="/categories/"
                  class="flex flex-row items-center space-x-1 text-[var(--primary-color)] transition-colors hover:brightness-75 dark:hover:brightness-125"
                >
                  <span>{i18n(I18nKeys.side_bar_view_more)}</span>
                  <Icon name="mingcute:arrow-right-line" />
                </a>
              </div>
            )}
          </div>
        </div>
      )
    }



      
    <!-- tags -->
    <!-- {
      tags.size !== 0 && (
        <div
          class="onload-animation space-y-2 rounded-3xl bg-[var(--card-color)] p-3"
          style="animation-delay: calc(var(--onload-animation-delay) + 2 * var(--onload-animation-interval));"
        >
          <div class="title m-[0.375rem]">
            <a
              href="/tags/"
              class="pl-4 text-xl font-bold text-[var(--text-color)] transition-colors hover:text-[var(--primary-color)]"
            >
              {i18n(I18nKeys.side_bar_tags)}
            </a>
          </div>
          <div class="relative flex max-w-[224px] flex-row flex-wrap">
            {tagKeys.slice(0, SdepMoneConfig.maxSidebarTagChip + 1).map((tag) => (
              <a
                href={`/tags/${tag}`}
                class="tag m-1 grow rounded-md bg-[var(--primary-color-lighten)] px-2 py-1 transition-all hover:brightness-95"
              >
                <p class="text-center text-sm text-[var(--primary-color)]">
                  {tags.get(tag)!.name}
                </p>
              </a>
            ))}
            {tagKeys.length >= SdepMoneConfig.maxSidebarTagChip + 1 && (
              <div class="absolute bottom-0 flex h-10 w-full flex-row items-center justify-center bg-gradient-to-t from-[var(--card-color)] from-25% to-transparent backdrop-blur-sm">
                <a
                  href="/tags/"
                  class="flex flex-row items-center space-x-1 text-[var(--primary-color)] transition-colors hover:brightness-75 dark:hover:brightness-125"
                >
                  <span>{i18n(I18nKeys.side_bar_view_more)}</span>
                  <Icon name="mingcute:arrow-right-line" />
                </a>
              </div>
            )}
          </div>
        </div>
      )
    } -->
  </div>
</div>
