---
import Main from "../layouts/MainLayout.astro";
import Markdown from "../components/Markdown.astro";
import CopyRight from "../components/misc/CopyRight.astro";

interface Props {
  title?: string;
  subTitle?: string;
  bannerImage?: string;
  published?: Date;
  license?: {
    name: string;
    url?: string;
  };
  author?: string;
  sourceLink?: string;
}

const {
  title,
  subTitle,
  bannerImage,
  published,
  license,
  author,
  sourceLink,
} = Astro.props ?? {};
---

<Main title={title} subTitle={subTitle} bannerImage={bannerImage}>
  <!-- <Fragment set:html={tocHTMLString} /> -->
  <div class="article-wrapper">
    <div class="article">
      <Markdown>
        <slot />
      </Markdown>
      {
        published && title && (
          <CopyRight
            title={title}
            published={published}
            license={license}
            author={author}
            sourceLink={sourceLink}
          />
        )
      }
    </div>
  </div>
</Main>